<div class="column is-4">     
    <div class="card is-shady">
        <div class="card-image">
          <figure class="image is-4by3">
            <%= image_tag campaign.images[0] %>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4><%= campaign.title %> <%= (campaign.blocked ? "- Bloqueada" : "") %></h4>
            <nav class="level">
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Valor</p>
                  <p class="subtitle"><%= formatar_valor_BRL(campaign.price) %></p>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <div>
                  <p class="heading">Data do Sorteio</p>
                  <p class="subtitle"><%= localize(campaign.drawing, format: :default) %></p>
                </div>
              </div>                            
            </nav>
            <div>
                <%= link_to campaign do %>
                  <button class="button is-medium is-fullwidth is-warning">Participar</button>
                <% end %>
              </div>
          </div>
        </div>
      </div>
</div>